/*
 * Copyright (C) 2009-2017 Lightbend Inc. <https://www.lightbend.com>
 */
table, td {
  display: inline-grid;
  justify-items: center;
  align-items: center;
  background-color: black;
  color: white;
}

#grid_actions, #grid_player, #grid_battleLog {
  background-color: black;
  color: white;
  margin-left: 20px;
  border: 1px solid white;
  font-size: 16px;
}

#grid_battleLog {
  height: 700px;
  overflow-y: scroll;
}